# Python Virtual Environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch / YOLO Weights
*.pt
*.onnx
*.engine

# Heavy Video Outputs & Local DBs
*.mp4
*.avi
data/events.db
data/annotated_output.mp4
data/datasets/*.mp4

# IDE & OS
.DS_Store
Thumbs.db
